<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>{% block title %} {% endblock %}- VideoClub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Uso de url_for para obtener la ruta de elementos de la página -->
    <link rel="stylesheet" type="text/css" href={{ url_for( 'static', filename='style.css' ) }}/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/usuariosConectados.js') }}></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>

<body>
    <header>
        <h1>
            <a href="{{ url_for('index') }}"><img class="logo" src={{ url_for( 'static', filename='imagenes/logo.png' ) }} alt="Logo" /></a>{% block head %}{% endblock %}</h1>
    </header>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul>
            {% for message in messages %}
            <li class=flashes>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %} 
    <section class="sectionindex">
        <div class="navdiv">
            <nav class="cuadro1">
                <ul id="menu">
                    {% if 'logged_in' in session: %}
                        <li><a href="#" class="link_opciones">Usuario: {{ session['usuario'] }}</a></li>
                        <li><a href="{{ url_for('saldo') }}" class="link_opciones">Saldo: {{ session['saldo'] }}€</a></li>
                        <li><a href="{{ url_for('logout', user=session['usuario']) }}" class="link_opciones">Cerrar sesión</a></li>
                        <li><a href="{{ url_for('pedidos') }}" class="link_opciones">Historial de pedidos</a></li>
                        <li><a href="{{ url_for('coleccion') }}" class="link_opciones">Mi colección</a></li>
                    {% else %}
                        <li><a href="{{ url_for('sesion') }}" class="link_opciones">Sesión</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('carrito') }}" class="link_opciones">Carrito</a></li>
                </ul>
            </nav>

            <nav class="cuadro2">
                <form action="{{ url_for('index') }}" method="POST">
                    <ul>
                        <li id="Buscar_por">Filtrar:
                            <br><br>
                            <select name="Filtrado">
            <option value="Filtrar por">Filtrar por</option>
            <option value="Ciencia ficción">Ciencia ficción</option>
            <option value="Thriller">Thriller</option>
            <option value="Drama">Drama</option>
            <option value="Comedia">Comedia</option>
            </select><br><br>
                        </li>
                    </ul>
                    <button type="submit" class="busqueda">Buscar</button>
                </form><br>
                <form action="{{ url_for('index') }}" method="POST">
                    <ul>
                        <li id="Buscar_por">Buscar por:
                            <br><br>
                            <input required type="text" name="Busqueda" placeholder="Escribe aquí"><br><br>
                        </li>
                    </ul>
                    <button type="submit" class="busqueda">Buscar</button>
                </form>
            </nav>

            <nav class="cuadro3">
                <br><strong>Usuarios conectados:</strong> <p id="numUsers"></p>
            </nav>
        </div>
        
        {% block content%} {% endblock %}
    </section>

    <footer>
        <p>David y Alain ®</p>
    </footer>

</body>

</html>