{% extends "base.html" %} 
{% block title %} 
    {{ title }} 
{% endblock%} 
{% block head %} 
    Carrito
{% endblock %} 
{% block content %}
    <nav class="article">
        <nav class="carrito">
            <table>
                {% if movies %}
                    <tr>
                        <th>ID película</th>
                        <th>Artículo</th>
                        <th>Precio</th>
                        <th>Compra</th>
                        <th>Borrar</th>
                    </tr>
                    {% for item in movies %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.titulo }}</td>
                            <td>{{ item.precio }}€</td>
                            <td>
                                <form action="{{ url_for('comprarElemento', id=item.id) }}">
                                    <input type="submit" value="Comprar este articulo" />
                                </form>
                            </td>
                            <td>
                                <form action="{{ url_for('borrarElemento', id=item.id) }}">
                                    <input type="submit" value="Borrar este elemento" />
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <th class="tabla_pedidos">El carrito está vacío</td>
                    </tr>
                {% endif %}
            </table>    
            </nav>
            <nav class="botones">
            <h3>Total: </h3>
            <h2>{{ precio }}€</h2><br>
            {% if movies %}
                <form action="{{ url_for('comprarCarrito') }}">
                <input type="submit" value="Comprar carrito" />
                </form><br>

                <form action="{{ url_for('borrarCarrito') }}">
                <input type="submit" value="Limpiar la cesta" />
                </form>
            {% endif %}
        </nav>
    </nav> 
{% endblock %}