{% extends "base.html" %}

{% block title %}
    {{ selection["titulo"] }}
{% endblock%}

{% block head %}
    {{ selection["titulo"] }}
{% endblock %}

{% block content %}
    <article class="detalle_col">
        <br><div class = "foto"><img src="{{url_for('static', filename=selection['poster'])}}" alt="Caratula"> <br> <p id="titulo_detalle"><strong>{{ selection["titulo"] }}</strong><p> </div>
        <div>
            <strong>Sinopsis</strong><br><br>
            {{ selection["sinopsis"] }}
            <br><br>
            Año: {{ selection["anio"] }}<br>
            Director/es: {{ selection["director"] }}<br>
            Género/s: {{ selection["genero"] }}<br><br>
            Precio: {{ selection["precio"] }}€<br><br>
            {% if coleccion %}
                <strong>Ya has comprado este artículo</strong>
            {% else %}
            <form action="{{ url_for('add_to_cart', id=selection.id) }}">
            <input type="submit" value="Añadir al carrito" />
            </form>
            {% endif %}
        </div>
    </article>
{% endblock %}

