{% extends "base.html" %} 

{% block title %} 
    {{ title }} 
{% endblock%} 

{% block head %} 
    Inicio 
{% endblock %} 

{% block content %}
<nav class="article">
    <h1 id=top_movies>Top peliculas ultimos 3 años</h2>
    <table>
    <tr>
        <th>Ranking</th>
        <th>Titulo</th>
        <th>Año</th>
        <th>Ventas</th>
    </tr>
    {% for item in top_movies %}
        <tr>
            <td>{{ loop.index0 + 1}}</td>
            <td>{{ item.movietitle }}</td>
            <td>{{ item.year }}</td>
            <td>{{ item.sales }}</td>
        </tr>
    {% endfor %} 
    </table>
</nav>
{% endblock %}