{% extends "base.html" %} 

{% block title %} 
    {{ title }} 
{% endblock%} 

{% block head %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/jQueryDesplegable.js') }}">
</script>
Pedidos 
{% endblock %} {% block content %}
<nav class="article">
    <nav class="pedidos">
        <table >
            {% if datosHistorial %}
                {% for item in datosHistorial %}
                    <tr class="trPedidos">
                    <td class="tabla_pedidos"><h3 class="plegablePedido">Pedido {{ item.id+1 }}</h3>                    
                    <div class="plegable">

                    <table >
                        <tr>
                        <th class="tabla_pedidos">Fecha</th>
                        <th class="tabla_pedidos">Total</th>
                        </tr>
                        <tr>
                        <td class="tabla_pedidos">{{ item.fecha }}</td>
                        <td class="tabla_pedidos">{{ item.precio }}€</td>
                        </tr>
                    </table>  

                    <table >
                        <tr>
                        <th class="tabla_pedidos">Articulos</th>
                        </tr>
                    </table> 
                    <table > 
                        <tr>
                        <th class="tabla_pedidos">ID pelicula</th>
                        <th class="tabla_pedidos">Titulo</th>
                        <th class="tabla_pedidos">Precio (ud)</th>
                        </tr>
                        {% for x in movies %}
                            {% if x['id'] in item['peliculas'] %}
                                <tr><td class="tabla_pedidos">{{ x.id }}</td>
                                <td class="tabla_pedidos">{{ x.titulo }}</td>
                                <td class="tabla_pedidos">{{ x.precio }}€</td></tr>
                            {% endif %}
                        {% endfor %}
                    </table>    
                    </div></td>
                    </tr>
                {% endfor %}
             {% else %}
                    <tr>
                    <th class="tabla_pedidos">No hay pedidos recientes</td>
                    </tr>
            {% endif %}
        </table>    
    </nav>

</nav> 
{% endblock %}
