{% extends "base.html" %} 
{% block title %} 
    {{ title }} 
{% endblock%} 
{% block head %} 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src={{ url_for('static', filename='js/validar.js') }}></script>
  <script src={{ url_for('static', filename='js/passStrenght.js') }}></script>
  <script src={{ url_for('static', filename='js/futureDatesOnly.js') }}></script>
    Sesion
{% endblock %} 
{% block content %}

  {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul>
          {% for message in messages %}
              <li class=flashes>{{ message }}</li>
          {% endfor %}
          </ul>
      {% endif %}
  {% endwith %}

      <div class="login">
        <form action="{{ url_for('login') }}" name="login" method="post">
          <fieldset>
          <legend>Iniciar sesión</legend>
          Usuario:
          {% if last_user %}
            <input required type="text" name="usuario" placeholder="Escribe aquí" value="{{ last_user }}"><br><br> 
          {% else %}
            <input required type="text" name="usuario" placeholder="Escribe aquí"><br><br>         
          {% endif %}
          
          Contraseña:
          <input required type="password" name="password" placeholder="Escribe aquí"><br><br>
            <input type="submit" class="busqueda" value="Iniciar sesión" />
          </fieldset>
        </form>
      </div>

      <div class="register">
        <form action="{{ url_for('registrar') }}" name="registro" method="post" onsubmit="return validarRegistro()">
          <fieldset>
            <legend>Registrarse</legend>
          <div class="row">
          <div class="column">
          <div class="register1">
            Usuario:
            <input required type="text" name="usuario" placeholder="Escribe aquí" pattern="[^()/><\][\\\x22,;|]+" 
              title="No se puede dejar en blanco, ni usar estos carácteres prohibidos: ^()/><\\\\x22,;|"><br><br>
            Nombre:
            <input required type="text" name="nombre" placeholder="Escribe aquí" maxlength="50" pattern="[^()/><\][\\\x22,;|]+" 
              title="No se puede dejar en blanco, ni usar estos carácteres prohibidos: ^()/><\\\\x22,;|"><br><br>
            Apellidos:
            <input required type="text" name="apellidos" placeholder="Escribe aquí" maxlength="50" pattern="[^()/><\][\\\x22,;|]+" 
              title="No se puede dejar en blanco, ni usar estos carácteres prohibidos: ^()/><\\\\x22,;|"><br><br>
            Direccion:
            <input required type="text" name="direccion" placeholder="Escribe aquí" maxlength="50" pattern="[^()/><\][\\\x22,;|]+" 
              title="No se puede dejar en blanco, ni usar estos carácteres prohibidos: ^()/><\\\\x22,;|"><br><br>
            Region:
            <input required type="text" name="region" placeholder="Escribe aquí" maxlength="50" pattern="[^()/><\][\\\x22,;|]+" 
              title="No se puede dejar en blanco, ni usar estos carácteres prohibidos: ^()/><\\\\x22,;|"><br><br>
            Pais:
            <input required type="text" name="pais" placeholder="Escribe aquí" maxlength="50" pattern="[^()/><\][\\\x22,;|]+" 
              title="No se puede dejar en blanco, ni usar estos carácteres prohibidos: ^()/><\\\\x22,;|"><br><br>
            Ciudad:
            <input required type="text" name="ciudad" placeholder="Escribe aquí" maxlength="50" pattern="[^()/><\][\\\x22,;|]+" 
              title="No se puede dejar en blanco, ni usar estos carácteres prohibidos: ^()/><\\\\x22,;|"><br><br>
            Contraseña:
            <input required id="clave" type="password" name="password" placeholder="Escribe aquí" maxlength="50" pattern=".{8,}" title="Mínimo 8 caracteres"><br><br>
            <span id = "mensaje"></span><br><br>
            Confirmación de contraseña:
            <input required type="password" name="conf_password" placeholder="Escribe aquí" maxlength="50"><br><br>
            </div>
            </div>
            <div class="column">
            <div class="register2">
            Email:
            <input required type="email" name="email" placeholder="email@example.com"><br><br>
            Género:
            <input type="radio" name="genero" value="M" checked="checked">Masculino
            <input type="radio" name="genero" value="F">Femenino
            <br><br>
            Edad:
            <input required type="number" min="16" max="99" name="edad" ><br><br>
            Tipo t. credito:
            <select name="card_type">
              <option value="Visa">Visa</option>
              <option value="Mastercard">Mastercard</option>
              <option value="American">American Express</option>
              <option value="Dinners">Dinners</option>
            </select><br><br>
            Tarjeta de credito:
            <input required type="tel" name="tarjeta" maxlength="16" placeholder="0000111122223333" maxlength="50" pattern="[0-9]{16}"><br><br>
            Caducidad tarjeta de credito:
            <input required type="date" name="cardexpiration" min="2019-12-05"><br><br>
            <input type="submit" class="busqueda" value="Registrarse" />
            </div>
          </fieldset>
        </form>
  </div>
</div>
    </div>
{% endblock %}